# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
.dist/
dist/
build/
.next/
coverage/
*.log

# Env
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.pid
